DB_HOST=localhost
DB_USER=root
DB_PASS=yourpassword
DB_NAME=onboarding
PORT=4000
AADHAAR_API_URL=REPLACE_WITH_PROVIDER_URL
AADHAAR_API_KEY=REPLACE_KEY
PAN_API_URL=REPLACE_WITH_PROVIDER_URL
PAN_API_KEY=REPLACE_KEY
